LOG_LEVEL=INFO
BAND_13_SCHEDULE_CRON="*/30 * * * *"
BAND_9_SCHEDULE_CRON="*/30 * * * *"
ENABLE_BAND_13=true
ENABLE_BAND_9=true
TZ=America/Argentina/Buenos_Aires
TMP_DIR_HOST=./.tmp
TMP_DIR_CONTAINER=/app/.tmp
